.editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor-header {
  background-color: var(--vscode-sidebar-bg);
  border-bottom: 1px solid var(--vscode-border);
  height: 40px;
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.tabs-container {
  display: flex;
  height: 100%;
}

.main-editor-content {
  flex: 1;
  display: flex;
  overflow-y: auto;
  background-color: var(--vscode-bg);
  padding: 10px 0;
}


.code-content {
  flex: 1;
  color: var(--vscode-text);
  font-family: "Consolas", "Monaco", "Courier New", monospace;
  line-height: 1.5;
  font-size: 14px;
  white-space: pre-wrap;
}

/* Syntax highlighting colors */
.language-markdown {
  color: #c586c0;
}

.language-python {
  color: #569cd6;
}

.language-json {
  color: #ce9178;
}

.language-javascript,
.language-jsx {
  color: #9cdcfe;
}

pre {
  margin: 0;
}

/* Run button styles */
.run-button-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    
    justify-content: flex-end;
    margin-right: 10px;
}

.run-button-wrapper {
    padding-left: 2px;
  border-radius: 15%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.2s ease-in-out;
}

.run-button-wrapper:hover {
  background-color: var(--vscode-tab-active-bg);
}

.run-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.run-icon {
  width: 16px;
  height: 16px;
}
